html {
	background-color:#003F87;
}
h1 {
	margin: 10px 100px;
	padding: 5px;
	border: 10px ridge #607B8B;
	text-align: center;
	background-color:#33A1DE;
	color:#E9F5FB;
}
article {
	margin:30px;
	border:8px groove #8EA4B1;
	padding: 0px 10px;
	background-color: #70BDE8;
	font-style: normal; 
	font-variant: normal;
	font-weight: bold; 
	font-family: "Times New Roman";
	color: #F0F3f5;
}
h2 {
	border:6px ridge #8EA4B1;
	margin-top: 30px;
	margin-right: 440px;
	margin-bottom: 30px;
	margin-left:30px;
	padding: 2px;
	text-align: left;	
	color: #F0F3f5;
	background-color: #33A1DE;
}
a {
	margin: 30px;
	border: 2px solid #000000;
	padding: 2px;
	color: #000000;
	background-color: #BFCBD3;

}
fieldset {
	background-color: #8EA4B1;
}
legend h2{
	padding: 4px;
	color: #EBF5FA;
}

#MajorByDepartmentSchools {
	display:block;
}
legend h3 {
	margin-top:20px;
}
#CourseName {
	display: block;
}
#CourseSection {
	display: block;
}
#TopicandSection {
	display: block;
}
#TodaysDate {
	display: block;
}
#DueDate {
	display: block;
}
#NoteSection {
	display: block;
}